[submodule "libs/BOSL2"]
	path = libs/BOSL2
	url = https://github.com/BelfrySCAD/BOSL2.git
[submodule "libs/dotSCAD"]
	path = libs/dotSCAD
	url = https://github.com/eculicny/dotSCAD.git
[submodule "libs/threads-scad"]
	path = libs/threads-scad
	url = https://github.com/rcolyer/threads-scad.git
[submodule "libs/constructive"]
	path = libs/constructive
	url = https://github.com/solidboredom/constructive.git
[submodule "libs/Round-Anything"]
	path = libs/Round-Anything
	url = https://github.com/Irev-Dev/Round-Anything
